  
  <style type="text/css">
        li {
        inline;
      }
      .panel {
          border: 0;
      }
      #draggablePanelList .panel-heading {
          cursor: move;
      }
      .clickable
      {
          cursor: pointer;
      }
      #guapa{
         background-color: #e74c3c; 
      }
      .panel-heading span
      {  
          margin-top: -13px;
          font-size: 15px;
          margin-right: -9px;
      }
      a.clickable { color: inherit; }
      a.clickable:hover { text-decoration:none; }
      #chosenSong{
        font-size: 13px;

      }

      #instruccions{
        color:white;
      }

      input{
        color:black;
      }

      button{
        color:black;
      }


      li{
        cursor: pointer;
      }
      body {

        font-family: Montserrat;
         background-color: #777;
        background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAU0lEQVQIHQXBwRGDIBAAwO2/AMcCDHAcPjIRxjJ8Je1kl1uqUgphsWu6w0sIG6npLpcUBql4e/wsVRKabrkNTacIYbMrwsF06rqUhsnXVKVT+Hj+Ue4rPSONk4kAAAAASUVORK5CYII=);
      }
      .bat{
      letter-spacing: 2px;
      line-height: 4.5em;
      color: white;
      list-style: none;
      text-align: center;
      background-color: #777;
      width:40%;;
      line-height: 60px;
      margin: auto;
      margin-bottom:3px;
      }

      .bat:hover {
          cursor:pointer;
          text-decoration: none;
          color: #000000;
          background-color: #33B5E5;
      }

  </style>

<div class="panel panel-default">
  <div class="panel-body" id = "guapa">
    Just follow the intruccion to the right to create new questions! <div class="bat pull-right"  > <%= link_to "PLAY", user_quiz_path(@user, @quiz) %> </div>
  </div>
</div>


  <div class="container">
    <div class="col-md-5">

    <% @questions.each do |question| %>
      <div class="row">
              <div class="panel panel-primary" >
                  <div class="panel-heading" id="guapa">

                    <h4 style="display: inline" >Question</h4><h5 style="display: inline" > : <%= question.title %>
                      <h3 class="panel-title"> </h3>
                      <span class="pull-right clickable">show</span>
                  </div>
                  <div class="panel-body">
                    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                      <div class="media">
                          <a class="pull-left" href="#" target="_parent">
                            <img alt="image" class="img-responsive" src=<%= question.image_url %> style="max-height: 110px; max-width: 110px;"></a>
                              <h3 class="media-heading">
                                <%= question.title %> </h3>
                              <ul class="list">
                                <% count_choice = 0 %>
                                <% question.choices.each do |choice| %>
                                  <li> Q<%= count_choice %>: <%= choice.title %></li>
                                  <% count_choice = count_choice + 1 %>
                                <% end %>
                              </ul>
                            <%= link_to "edit", edit_user_quiz_question_path(@user, @quiz, question), method: :get, :class => 'pull-right' %>
                            <%= link_to "delete", user_quiz_question_path(@user, @quiz, question), method: :delete, :class => 'pull-right' %>
                      </div>
                  </div><!-- End Listing-->
                  </div>
          </div>
      </div>
  <% end %>

</div>

<div class="col-md-1"></div>

<div class="col-md-5" id="instruccions">
    <h2>To add a new song to the quiz:</h2>
    <h3>#1. Search for an artist or song: <span id="chosenSong"></span> </h3>    
    <form id= "search">
      <input type="text" name="searchItem"  id= "search"/>
      <button type="submit">load track</button>
    </form>
    <ul id="results">
    </ul>
  
    <h3>#2. add 3 wrong answers: </h3>
    <button class="btn" id="lazy_button">I am lazy, do it for me</button>
    <br/>


    <%= simple_form_for [@user, @quiz, @question], :controller => :questions, :action => :create, :method => :post do |q| %>
    <%=q.error_notification %>

      <%= q.input :title, :as => :hidden, :input_html => {:value => 'Which song is this?'}, label: "Question content" %>
       <%= q.input :image_url, :as => :hidden, label: "image url", :input_html => {:class => "image-question"} %>
      <%= q.input :song, :as => :hidden, label: "Question Song" %>

      <%= q.simple_fields_for :choices, q.object.choices.build do |a| %>
        <%=a.input :title, placeholder: 'Answer1', label: "Answer #1", :input_html => {:class => "possible_choice", :id => "question_id_1"} %>
      <% end %>
      <%= q.simple_fields_for :choices, q.object.choices.build do |a| %>
        <%=a.input :title, placeholder: 'Answer2', label: "Answer #2", :input_html => {:class => "possible_choice", :id => "question_id_2"} %>
      <% end %>
      <%= q.simple_fields_for :choices, q.object.choices.build do |a| %>
        <%=a.input :title, placeholder: 'Answer3', label: "Answer #3", :input_html => {:class => "possible_choice", :id => "question_id_3"} %>
      <% end %>
      <%= q.simple_fields_for :choices, q.object.choices.build do |a| %>
        <%=a.input :title, placeholder: 'Answer4', label: "Answer #4", :as => :hidden, :input_html => {:class => "possible_choice", :id => "the_correct_answer"} %>
        <%=a.input :correct, :as => :boolean, :as => :hidden, input_html: {value: true} %>
      <% end %>
      <br/>
    <%= q.button :submit %>
    <div><!-- group -->
    <% end %>
  </div> 
  </div>
  </div>

</div><!-- container -->

<% content_for :head do %>
  <script type="text/javascript">
    <%= render :partial => "shared/init_accordion" %>
    <%= render :partial => "shared/form_logic" %>
    <%= render :partial => "shared/order_questions" %>

  </script>
<% end %>
