jehkjwhkjhkjx

<button id="yo">click</button>
<div class="result"></div>
<%= form_tag login_games_path do%>
  <%= text_field_tag :user_name %>
  <%= radio_button_tag :server, "false" %>
  <%= radio_button_tag :server, "true" %>
  <%= submit_tag "sumit" %>


<% end %>

